#card-container{
    width:90%;
    height:30px;
    color:whitesmoke;
    background-color: #42A5F555;
    margin-top:5px;
    padding-top:5px;
    border-radius: 5px;
}
.right{
    text-align: right;
    margin-right:10px;
}
.left{
    text-align: left;
    width:100%;
    margin-left: 10px;
}
.block{
    display: inline-flex;width:100%;
}