.map-container {
    position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
    margin: 30px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }
  
  #card-container{
    border:solid 1px black;
    width:200px;
    height:98vh;
  }
  #card-list{
    overflow-y: scroll;
    width:200px;
    height:98vh;
  }
  