<div id="card-container">
  <div *ngIf="!isLoading">
    <div id="search">
      <input type=text placeholder="Search country details" style="width:100%" [(ngModel)]="searchData"/>
    </div>
    <div id="card-list">
      <div *ngFor="let countryStat of countryStats">
        <card  [stats]="countryStat" *ngIf="isSearchSatisfy(countryStat)" (click)="focusToMap(countryStat)"></card>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading">
    Loading
  </div>
</div>


<div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
</div>
<toastr></toastr>